body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin: auto;
    background-color:#FFC7BA;

}

  
h1 {
    text-transform: uppercase;
    font-weight: 300;
}



.grid-container {
    display: flex;
    flex-flow: wrap;
    flex-grow: 1;
}


.grid-item-heading {
    flex: 1 1 100%;
    background-color: #E94B25;
    color: #FFC7BA;
    text-align: center;
}

.grid-item-search-box {
    flex: 1 1 100%;
    text-align: center;
    align-items: center;    
    background-color: #FF6E4C;
    color: #FFC7BA;
    padding: 3% 3%;
}

.grid-item-search-info {
    flex: 1 1 100%;
    align-items: center;
    background-color:#FFA48F;
    color: #D92A00;
    font-weight: 400;
    padding: 5%;
    text-align: center;

}

.grid-item-search-results {
    flex: 1 1 100%;
    align-items: center;    
    text-align: center;
    padding: 5%;
}

.search-results {
    text-align: center;
    color: #D92A00;
    font-weight: 400;
}


.inputBox {
    font-size: 30pt;
    text-align: center;
    width: 80%;
    max-width: 500px;
    background-color: #FF6E4C;
}

 
.inputBox[type=text] {
    border: none;
    color:  white;
    border-bottom: 3px solid #FFC7BA;
}


.input[type=text]:focus {
    border: none;
    border-bottom: 3px solid #FFC7BA;
}

.search-restults {
    height: 100%
}
    
